/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/

body {
	font-family: 'Work Sans';
	font-size: 14px;
	background-color: #FFFEF8;
	margin: auto;
	position: relative;
}

header {
	max-width: 1140px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 3rem auto 10rem auto;
}

main {
	margin: 0 6rem;
	max-width: 1140px;
	margin: 0 15rem;
}

section {
	margin: 50px 0;
}


h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;

}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154;
}

a {
	text-decoration: none;
	color: #000000;
}

.header-login {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
}


.bandeau-edition {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
	width: auto;
	height: 59px;
}

.bandeau-edition p {
	display: flex;
	align-items: center;
	gap: 11px;
	color: white;
	font-family: 'work sans';
	font-size: 16px;
}


nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}

nav ul img {
	width: 40%;
	padding-left: 1rem;
	
}

nav li {
	font-size: 1.3em;
	margin-left: 2rem;
	
}

nav li :hover {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
	
}

#introduction figure {
	flex: 1.15;
}

#introduction img {
	display: block;
	width: 110%;
}

#introduction article {
	flex: 1;
	margin-left: 7rem;
	
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 1em;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 2em;
	margin-top: 4em;
}

/* Filtres */

#filtres {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Syne';
	font-size: 16px;
	margin-bottom: 50px;
	gap: 10px;
	color: #1D6154;
	cursor: pointer;
}

button {
	display: flex;
	justify-content: center;
	min-width: 100px;
	padding: 8px 12px;
	border: solid 1px #1D6154;
	border-radius: 60px;
	background-color: white;
	font-family: 'Syne';
	font-size: 16px;
	cursor: pointer;
}

.filtre-on{
	background-color: #1D6154;
	color: white;
}

.inactive {
	display: none;
}

#filtres.inactive {
	display: none;
}

#modal.inactive {
	display: none;
}

.hidden {
	visibility: hidden;
}

#gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

#gallery img {
	width: 100%;

}

#contact {
	width: 30%;
	margin: auto;
	flex-wrap: wrap;
	display: flex;
	
}

#contact > * {
	text-align: center;

}

#contact-title {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#contact h2{
	
}
#contact form {
	
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	
	height: 2.5rem;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 50px ;
}

.footer-style {
	margin: 0;
	display: flex;
	width: 100%;
	background-color: white;
	height: 50px;
	justify-content: flex-end;
	align-items: center;
}

.footer-style nav {
	margin-right: 7rem;
}


/* Page Login */


.login {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 150px;
	margin-bottom: 15rem;
}

.form-log {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.Email {
	display: flex;
	flex-direction: column;
	margin-top: 37px;
}

.Password {
	display: flex;
	flex-direction: column;
	margin-top: 30px;
	margin-bottom: 17px;
}

label[for="email"], label[for="password"]{
	color: #3D3D3D;
	font-weight: normal;
	margin-bottom: 7px;
}

input[type="Password"], input[type="Email"] {
	border :none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	height: 51px;
	width: 379px;
	font-size: 16px;
}
.login input {
	height: 2.5rem;
	
}
.connection {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 3rem;
}

input[type="submit"]:hover{
	cursor: pointer;
}

.forgot-password {
	color: black;
	text-decoration: underline;
	margin-top: 2rem;
}

.forgot-password:hover {
	cursor: pointer;
}

#error {
height: 20px;
color: red;
}
