/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/

body {
	font-family: 'Work Sans';
	font-size: 14px;
	background-color: #FFFEF8;
	margin: auto;
	max-width: 1440px;
}

header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0 10rem 5rem 0;
	width: 1440px;
}

.header-login {
	display: flex;
	flex-direction: row;
	justify-content: space-between;	
	margin: 3rem 10rem;
}


.header-edition {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
	width: auto;
	height: 4rem;
	
}

.header-edition p {
	display: flex;
	align-items: center;
	gap: 11px;
	color: white;
	font-family: 'work sans';
	font-size: 16px;
}


main {
	display: flex;
	flex-direction: column;
	margin: 0px 18% 0px 18%;
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;

}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154;
}

a {
	text-decoration: none;
	color: #000000;
}


nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}


nav li {
	font-size: 1.3em;
	margin-left: 2rem;
	
}

nav li img {
	width: 1.5rem;
}

nav li :hover {
	color: #B1663C;
	cursor: pointer;
}

#introduction {
	display: flex;
	align-items: center;
	
}

#introduction figure {
	flex: 1.15;
}

#introduction img {
	display: block;
	width: 110%;
}

#introduction article {
	flex: 1;
	margin-left: 7rem;
	
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 1em;
}

#portfolio h2 {
	display: flex;
	text-align: center;
	margin-bottom: 2em;
	justify-content: center;
}

.modifs-projets {
	margin-top: 139px;
	display: flex;
	justify-content: center;
	gap: 30px;
}

.modifs-projets button {
	display: flex;
	gap: 10px;
	border: none;
	background-color: #FFFEF8;
	box-sizing: border-box;
	font-family: 'work sans';
	font-size: 14px;
	margin-bottom: 30px;
}

/* Filtres */

#filtres {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Syne';
	font-size: 16px;
	margin-bottom: 50px;
	gap: 10px;
	color: #1D6154;
	cursor: pointer;
}

button {
	display: flex;
	justify-content: center;
	min-width: 100px;
	padding: 8px 12px;
	border: solid 1px #1D6154;
	border-radius: 60px;
	background-color: white;
	font-family: 'Syne';
	font-size: 16px;
	cursor: pointer;
}

.filtre-on{
	background-color: #1D6154;
	color: white;
}

.inactive {
	display: none;
}

#filtres.inactive {
	display: none;
}

#modal.inactive {
	display: none;
}

.hidden {
	visibility: hidden;
}

#gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

#gallery img {
	width: 100%;

}

#contact {
	width: 30%;
	margin: auto;
	flex-wrap: wrap;
	display: flex;
	
}

#contact > * {
	text-align: center;
	margin-top: 4rem;

}

#contact-title {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#contact h2{
	
}
#contact form {
	
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	
	height: 2.5rem;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 50px ;
}

.footer-style {
	margin: 0;
	display: flex;
	width: 100%;
	background-color: white;
	height: 4.5rem;
	justify-content: flex-end;
	align-items: center;
}

.footer-style nav {
	margin-right: 7rem;
}


/* Page Login */


.login {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 150px;
	margin-bottom: 15rem;
}

.form-log {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.Email {
	display: flex;
	flex-direction: column;
	margin-top: 37px;
}

.Password {
	display: flex;
	flex-direction: column;
	margin-top: 30px;
	margin-bottom: 17px;
}

label[for="email"], label[for="password"]{
	color: #3D3D3D;
	font-weight: normal;
	margin-bottom: 7px;
}

input[type="Password"], input[type="Email"] {
	border :none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	height: 51px;
	width: 379px;
	font-size: 16px;
}
.login input {
	height: 2.5rem;
	
}
.connection {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 3rem;
}

input[type="submit"]:hover{
	cursor: pointer;
}

.forgot-password {
	color: black;
	text-decoration: underline;
	margin-top: 2rem;
}

.forgot-password:hover {
	cursor: pointer;
}

#error {
height: 20px;
color: red;
}


/* Modal */

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}



.modal-pop {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 39rem;
	height: 50rem;
	background-color: white;
	border-radius: 10px;
}

.close-pop {
	position: absolute;
	right: 0;
	padding: 30px;
}

.modal-pop h3 {
	position: absolute;
	margin: 60px 0;
	left: 50%;
	transform: translateX(-50%);
	font-family: 'Work Sans';
	font-size: 26px;	 
}

 #modal-gallery {

	margin-top: 16px;
	display: grid;
	margin: 20% 16% 0 16%;
	grid-template-columns: repeat(5, 1fr);
	gap: 10px;
	row-gap: 30px;
	width: auto;
}

#modal-gallery figure {
	position: relative;
	width: 100%;
	height: auto;
}

#modal-gallery figure img {
	max-width: 100%;
	height: auto;
}

 #liner {
	position: fixed;
	bottom: 120px;
	left: 50%;
	transform: translateX(-50%);
	border-top: solid 1px #b3b3b3;
	width: 420px;
}

.modal-add-photo {
	position: absolute;
	bottom:0;
	left: 50%;
	transform: translateX(-50%);
	padding: 38px 100px;
}

.modal-add-photo button {
	width: 237px;
	height: 36px;
	background-color: #1D6154;
	color: white;
	font-size: 14px;
}

.modal-pop span {
	position: absolute;
	top: 0;
	right: 0;
	margin: 6px;
}

.fa-trash-can {
	font-size: 10px;
	color: white;
	padding: 5px;
	background-color: #000000;
	border-radius: 3px;
	top: 0;
}


/* Ajout Modal */

.add-modal {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 630px;
	height: 688px;
	background-color: white;
	border-radius: 10px;
}

.arrow {
	position: absolute;
	font-size: 21px;
	padding: 26px 30px;
}

.xmark {
	position: absolute;
	right: 0;
	padding: 36px;
}

.add-modal h3 {
	position: absolute;
	margin: 60px 0;
	left: 50%;
	transform: translateX(-50%);
	font-family: 'Work Sans';
	font-size: 26px;	 
}
.add-photo {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 134px;
	width: 420px;
	height: 169px;
	background-color: #e8f1f6;
	border-radius: 3px;
}

.add-modal .img {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 5%;
	font-size: 70px;
	padding: 6px;
	color: #b9c5cc;
}

.add-modal button {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 90px;
	border: none;
	background-color: #cbd6dc;
	color: #306685;
	width: 173px;
	height: 36px;
	font-size: 14px;
}

.add-modal p {
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
	margin-bottom: 19px;
}


.add-modal form {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 25%;
	display: flex;
	flex-direction: column;
	width: 420px;
	gap: 10px;
}

.add-modal label {
	margin-top: 10px;
}

.add-modal input, select {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	max-width: 420px;
	height: 51px;
}

.add-modal .add-photo-button {
	position: absolute;
	bottom: -135px;
	width: 237px;
	color: #ffffff;
	background-color: #a7a7a7;
}

.add-modal .liner {
	position: fixed;
	bottom: -52px;
	left: 50%;
	transform: translateX(-50%);
	border-top: solid 1px #b3b3b3;
	width: 420px;
}

.add-modal #previewImage {
	width: 30%;
	padding-left: 35%;
}

#green {
	background-color: #1D6154;
	color: white;
}

.close-pop {
	position: absolute;
	font-size: 20px;
	top: 0;
	margin-top: 5px;
	left: 59%;
	color: white;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}


/*  Confirmation/Suppression Modal */


.modal-confirmation {
    display: none;
    position: fixed;
	width: 80%;
	height: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: solid 1px #b3b3b3;
    padding: 20px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.4);
}

.modal-confirmation h2 {
    margin-top: 0;
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
}

.modal-confirmation p {
    margin-bottom: 20px;
	position: fixed;
	width: 65%;
	left: 50%;
	transform: translateX(-50%);
	top: 16%;
}

.modal-confirmation button {
    background-color: #1D6154;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button.confirm {
	position: fixed;
	right: 20%;
	bottom: 10%;
	width: 135px;
}

button.cancel {
	position: fixed;
	left: 20%;
	bottom: 10%;
	width: 135px;
}

.modal-confirmation button:hover {
    background-color: #0E2F28;
	color: white;
}

#preview-del-img {
	background-color: #e8f1f6;
	position: fixed;
	left: 14%;
	top: 23%;
	width: 75%;
	height: 50%;
	border: solid 2px red;
}

#preview-del-img img{
	position: fixed;
	top: 30%;
	left: 18%;
	width: 20%;
	border: solid 4px white;
}

#preview-del-img p.title {
	position: fixed;
	top: 35%;
	left: 75%;
	font-weight: bold;
}

#preview-del-img p.contenu-title {
	position: fixed;
	top: 42%;
	left: 75%;
}

#preview-del-img p.category {
	position: fixed;
	top: 55%;
	left: 75%;
	font-weight: bold;
}

#preview-del-img p.contenu-category {
	position: fixed;
	top: 62%;
	left: 75%;
}